ul#bookmark-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-top: 0.4rem;
  }

  .description {
    color: $gray-color;

    &.dark,
    .dark-bg &:not(.light),
    body[data-dt="1"] &:not(.light),
    html.dark &:not(.light),
    html.theme-dark &:not(.light) {
      color: $gray-color-dark;
    }

    // @media (prefers-color-scheme: dark) {
    //   color: $gray-color-dark
    // }

    a,
    a:visited:hover {
      color: $alternative-color;
    }
  }
}
