ul#bookmark-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-top: 0.4rem;
  }

  .description {
    color: $gray-color;

    // @media (prefers-color-scheme: dark) {
    //   color: $gray-color-dark
    // }

    a,
    a:visited:hover {
      color: $alternative-color;
    }
  }

  @media (prefers-color-scheme: dark) {
    &.dark,
  .dark-bg &:not(.light),             // DuckDuckGo
  body[data-dt="1"] &:not(.light),    // Google
  :root:not(.light) body.is-pc &:not(.light),    // Brave Search
  html.theme-dark &:not(.light),      // Searx
  html.theme_dark &:not(.light)       // Kagi
    {
      .description {
        color: $gray-color-dark;
      }
    }
  }
}
