$html-font-size: 18px !default;

$body-bg: #161822 !default;
$bg-color: lighten($body-bg, 5%) !default;
$bg-color-light: lighten($body-bg, 5%) !default;

$border-color: #4c4e53 !default;
$border-color-dark: $border-color !default;

$body-font-color: #b5bec8 !default;
$light-color: #fafafa !default;

$gray-color: #7f879b !default;
$gray-color-dark: lighten($gray-color, 20%) !default;

$primary-color: #a8b1ff !default;
$primary-color-dark: saturate($primary-color, 5%) !default;
$secondary-color: lighten($body-bg, 10%) !default;

$link-color: $primary-color !default;
$link-color-dark: darken($link-color, 5%) !default;
$link-color-light: $link-color !default;

$alternative-color: #59bdb9;
$alternative-color-dark: #73f1eb;

/* Dark theme specific */
$dt-primary-button-color: #5761cb !default;

/* Custom additions to linkding variables */
$alternative-color-light-theme: #05a6a3;
$alternative-color-dark-light-theme: darken($alternative-color, 5%);

$duckduckgo-bg: #282828;
$duckduckgo-border-color: #dfe1e5;

$google-bg: #202124;
$google-border-color-dark: #3c4043;

$primary-color: #5755d9;

$brave-bg: #1e2028;

$searx-bg-dark: #202124;
$searx-border-color-dark: #3c4043;

$kagi-bg: #282828;
$kagi-border-color: #dfe1e5;

$kagi-bg-dark: #262837;
$kagi-border-color-dark: rgba(229, 229, 229, 0.2);

$qwant-bg-dark: #2f3237;
$qwant-border-color-dark: #ffffff29;

// --- Ecosia Dark Theme Variables ---
$ecosia-dark-bg: #1a1a1a;
$ecosia-dark-text: #ffffff;
$ecosia-dark-link: #5dd25e;
$ecosia-dark-border: #4c4c4c;
$ecosia-dark-secondary-text: #deded9;